@import "vendor/_normalize"
@import "_base/base"

#trellosnap
  header
    height: 70px

    .container
      height: 100%

    #header-main
      @include row
      position   : fixed
      top        : 0
      left       : 0
      width      : 100%
      height     : 70px
      background : $blue
      z-index    : 10
      box-shadow : 0px 2px 4px rgba(black, .7)

    .logo
      @include span-columns(3)

      h1
        font-weight : 300
        padding     : 0
        color       : white
        line-height : 70px
        font-size: 26px

    #annotate
      @include span-columns(6)
      padding    : 4px
      height     : 100%

      #annotate_tools
        width       : 100%
        height      : 100%
        line-height : 0
        font-size   : 0
        text-align  : center

        > label, > div
          display        : inline-block
          vertical-align : middle
          line-height    : 0
          font-size      : 0
          padding        : 0
          margin         : 0
          border-right   : 2px solid $blue
          border-left    : 2px solid $blue
          position       : relative

          span
            cursor              : pointer
            width               : 100%
            height              : 100%
            display             : block
            position            : absolute
            top                 : 0
            left                : 0
            z-index             : 0
            background-position : center center
            background-repeat   : no-repeat
            background-size     : auto 20px
            background-color    : lighten($blue, 8)
            @include transition(all .2s ease-in-out)

        input
          display: none

          &:checked + span
            background-color : lighten($blue, 20)
            @include transition(all .2s ease-in-out)

        .annotate-rectangle, .annotate-arrow
          height     : 100%
          width      : 50px

          label
            cursor : pointer

        .annotate-color-changer
          @include row
          height           : 100%
          width            : 100px
          font-size        : 12px
          line-height      : 1
          background-color : lighten($blue, 8)
          display          : inline-block
          padding          : 6px 8px

          .annotate-color-red, .annotate-color-blue, .annotate-color-green, .annotate-color-purple, .annotate-color-orange, .annotate-color-yellow
            @include span-columns(1 of 3)
            @include transition(all .2s ease-in-out)
            height        : 21px
            margin-bottom : 8px
            border        : 1px solid transparent
            cursor        : pointer

            &.active
              border : 1px solid white
              @include transition(all .2s ease-in-out)

            &:nth-child(3)
              margin-right: 0px

        .annotate-undoaction, .annotate-redoaction
          button
            width               : 40px
            height              : 40px
            border-right        : 2px solid $blue
            border-left         : 2px solid $blue
            background-color    : lighten($blue, 20)
            background-position : center center
            background-repeat   : no-repeat
            background-size     : 15px auto
            border-radius       : 0px
            @include transition(all .2s ease-in-out)

            &:focus
              outline    : none
              box-shadow : none

            &:disabled
              @include transition(all .2s ease-in-out)
              opacity          : 1
              background-color : lighten($blue, 8)

        .annotate-undoaction button
          background-image: url(../images/ico.annotate-undo.png)
        .annotate-redoaction button
          background-image: url(../images/ico.annotate-redo.png)
        .annotate-rectangle span
          background-image: url(../images/ico.annotate-box.png)
        .annotate-arrow span
          background-image: url(../images/ico.annotate-arrow.png)
        .annotate-color-red
          background: red
        .annotate-color-blue
          background: blue
        .annotate-color-green
          background: green
        .annotate-color-purple
          background: purple
        .annotate-color-orange
          background: orange
        .annotate-color-yellow
          background: yellow

    #upload
      @include span-columns(3)
      @include row
      padding: 15px 0px

      .upload-button
        width          : 120px
        max-width      : 100%
        height         : 40px
        float          : right
        background     : #cdb300
        color          : white
        text-align     : center
        line-height    : 40px
        font-size      : 16px
        font-weight    : 400
        letter-spacing : 1px
        cursor         : pointer
        @include transition(all .2s ease-in-out)

        &:hover
          background: darken(#cdb300, 8)
          @include transition(all .2s ease-in-out)

  #trello
    padding    : 50px 0px
    width      : 100%
    background : white
    display    : none

    #add-card-container, #login-container
      display: none

    .section-title
      font-size      : 18px
      font-weight    : 400
      color          : $blue
      text-transform : uppercase
      margin-bottom  : 30px
      text-align     : center

      &:after
        content       : ""
        width         : 25px
        border-bottom : 2px solid $blue
        display       : block
        margin        : 22px auto 0px

    #trello-board-info, #trello-card-info, #trello-upload
      @include span-columns(2 of 6)

    #trello-login
      @include span-columns(2 of 6)
      @include shift(2 of 6)

      .log-in-to-trello
        @extend %button
        padding        : 0px
        text-align     : center
        border-radius  : 0px
        width          : 100%
        max-width      : 100%
        height         : 60px
        font-weight    : 300
        text-transform : uppercase
        letter-spacing : 1px
        margin-bottom  : 30px
        line-height    : 60px

    #trello-labels
      @include row

      > div
        @include span-columns(4)
        height         : 30px
        margin-bottom  : 10px
        padding        : 0px 2px 0px 4px
        border-left    : 4px solid transparent
        white-space    : nowrap
        overflow       : hidden
        text-overflow  : ellipsis
        line-height    : 30px
        font-size      : 10px
        color          : white
        font-weight    : 600
        text-transform : uppercase
        cursor         : pointer
        @include transition(all .2s ease-in-out)

        &:hover
          @include transition(all .2s ease-in-out)

        &:nth-child(3n+3)
          margin-right: 0px

      .trello-label-description
        @include span-columns(8)
        color          : darken($blue, 10%)
        text-transform : none
        font-weight    : bold
        text-align     : center
        padding-right  : 0px
        font-size      : 13px
        cursor         : default

      .trello-label-black
        background: #797979
        &:hover
          background: darken(#797979, 8)
        &.selected
          border-color: darken(#797979, 30%)
      .trello-label-blue
        background: #0079BF
        &:hover
          background: darken(#0079BF, 8)
        &.selected
          border-color: darken(#0079BF, 30%)
      .trello-label-green
        background: #3CB500
        &:hover
          background: darken(#3CB500, 8)
        &.selected
          border-color: darken(#3CB500, 30%)
      .trello-label-lime
        background: #51E898
        &:hover
          background: darken(#51E898, 8)
        &.selected
          border-color: darken(#51E898, 30%)
      .trello-label-orange
        background: #FF9F19
        &:hover
          background: darken(#FF9F19, 8)
        &.selected
          border-color: darken(#FF9F19, 30%)
      .trello-label-pink
        background: #FF9AD8
        &:hover
          background: darken(#FF9AD8, 8)
        &.selected
          border-color: darken(#FF9AD8, 30%)
      .trello-label-purple
        background: #A632DB
        &:hover
          background: darken(#A632DB, 8)
        &.selected
          border-color: darken(#A632DB, 30%)
      .trello-label-red
        background: #EB4646
        &:hover
          background: darken(#EB4646, 8)
        &.selected
          border-color: darken(#EB4646, 30%)
      .trello-label-sky
        background: #00C2E0
        &:hover
          background: darken(#00C2E0, 8)
        &.selected
          border-color: darken(#00C2E0, 30%)
      .trello-label-yellow
        background: #FAD900
        &:hover
          background: darken(#FAD900, 8)
        &.selected
          border-color: darken(#FAD900, 30%)

    #trello-upload
      text-align  : center

      #trello-card-submit
        width          : 100%
        max-width      : 100%
        height         : 60px
        font-weight    : 300
        text-transform : uppercase
        letter-spacing : 1px
        margin-bottom  : 30px

      #trello-validation
        .error
          text-align    : left
          font-weight   : bold
          margin-bottom : 10px
          color         : #be0037

      #trello-upload-progress
        height          : 50px
        background      : url(../images/ico.loader.gif) no-repeat center bottom
        background-size : auto 50px
        display         : none

      #trello-upload-success
        display       : none
        font-weight   : bold
        margin-bottom : 10px
        color         : #419309
        font-size     : 18px

        .url a
          font-size : 16px
          color     : #0079BF
          @include transition(all .2s ease-in-out)

          &:hover
            @include transition(all .2s ease-in-out)
            color: darken(#0079BF, 10)



  main
    width      : 100%
    overflow-x : scroll

    #editor-container
      background    : $brown
      box-shadow    : 0px 0px 25px 5px black inset
      padding       : 50px

    #editor
      position : relative
      margin   : 0 auto

      #canvas-image
        position : absolute
        top      : 0
        left     : 0
        opacity  : 0

      #canvas-annotations
        position : absolute
        top      : 0
        left     : 0