doctype html
html(lang="en")
  head
    title Snapshot for Trello :: Edit
    link(rel="stylesheet", href="/assets/stylesheets/edit.css")
    script(src="/assets/javascripts/vendor/jquery.min.js")
    script(src="/assets/javascripts/vendor/djaodjin-annotate.js")
    script(src="/assets/javascripts/vendor/dotdotdot.min.js")
    script(src="/assets/javascripts/vendor/perfect-scrollbar.min.js")
    script(src="/assets/javascripts/edit.js")
  body
    #trellosnap
      header
        section#header-main
          .container
            .logo
              h1 Snapshot for Trello
            #annotate
            #upload
              .upload-button UPLOAD
      #trello
        #card-status-picker.container
          .description-left Create a new<br/> card
          .status-picker
            #switcher
              .toggle
          .description-right Attach image to<br/> existing card

        #add-card-container.container

          #trello-board-info
            .section-title Boards / Lists / Labels
            #trello-boards
              label.select-field
                .label Board:
                .input ---
                select(value="")
            #trello-lists
              label.select-field
                .label List:
                .input ---
                select(value="")
            #trello-labels
              .trello-label-green(data-trello-color="green")
              .trello-label-yellow(data-trello-color="yellow")
              .trello-label-orange(data-trello-color="orange")
              .trello-label-red(data-trello-color="red")
              .trello-label-purple(data-trello-color="purple")
              .trello-label-blue(data-trello-color="blue")
              .trello-label-black(data-trello-color="black")
              .trello-label-lime(data-trello-color="lime")
              .trello-label-pink(data-trello-color="pink")
              .trello-label-sky(data-trello-color="sky")
              .trello-label-description Click Label to Select

          #trello-card-info
            .section-title Card Information
            label
              input#trello-card-name(type="text" placeholder="Card Name" value="")
            label
              textarea#trello-card-description(placeholder="Card Description" value="")
            label.checkbox-field.trello-card-position
              input(type="checkbox")
              .input
              .label Place card on top

          #trello-card-picker
            .section-title Choose Card
            .scrollable-card-list
            label.checkbox-field.trello-card-position
              input(type="checkbox")
              .input
              .label Place card on top

          #trello-upload
            .section-title Upload
            label
              input#trello-card-submit(type="submit" value="Submit")
            #trello-validation
            #trello-upload-progress
            #trello-upload-success Success!

        #login-container.container
          #trello-login
            .section-title Log in to Trello
            a.log-in-to-trello(href="https://trello.com/login" target="_blank") Click to Log In

      main
        section#editor-container