doctype html
html(lang="en")
  head
    title Trellosnap
    //- link(rel="stylesheet", href="/assets/stylesheets/browser-action.css")
    script(src="/assets/javascripts/vendor/jquery.min.js")
    script(src="/assets/javascripts/edit.js")
  body
    #trellosnap
      h1 Trellosnap Edit Page
      h4 To-do
      p - annotations
      p - arrows
      p - outlines
      p - trello upload functionality
      img#screenshot
