doctype html
html(lang="en")
  head
    title Trellosnap
    link(rel="stylesheet", href="/assets/stylesheets/edit.css")
    script(src="/assets/javascripts/vendor/jquery.min.js")
    //- script(src="/assets/javascripts/vendor/hidpi-canvas.min.js")
    script(src="/assets/javascripts/vendor/djaodjin-annotate.js")
    script(src="/assets/javascripts/edit.js")
  body
    #trellosnap
      header
        section#header-main
          .container
            .logo
              h1 Trellosnap
            #annotate
            #upload
              .upload-button UPLOAD
      #trello
        #trello-boards
          select
        #trello-lists
          select
        #trello-labels
          .trello-label-black
          .trello-label-blue
          .trello-label-green
          .trello-label-lime
          .trello-label-orange
          .trello-label-pink
          .trello-label-purple
          .trello-label-red
          .trello-label-sky
          .trello-label-yellow

        #trello-card-info
          input#trello-card-position(type="checkbox")
          input#trello-card-name(type="text")
          textarea#trello-card-description
          input#trello-card-submit(type="submit" value="Submit")
      main
